autocommand==2.2.2
cheroot==9.0.0
CherryPy==18.8.0
inflect==6.0.2
jaraco.classes==3.2.3
jaraco.collections==3.8.0
jaraco.context==4.3.0
jaraco.functools==3.5.2
jaraco.text==3.11.1
Mako==1.2.4
MarkupSafe==2.1.2
more-itertools==9.0.0
portend==3.1.0
pydantic==1.10.4
pytz==2022.7.1
six==1.16.0
tempora==5.2.1
typing-extensions==4.4.0
zc.lockfile==2.0
